.hero-bg{
  height: calc(100vh - 5.8rem);
  width: 100%;
  background-image: url("/assets/img/header.png");  
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero{
  padding-top: 11.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

}
