.price {
  background: url(../assets/img/Layer21.png) no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 8.8rem;
  padding-bottom: 9rem;

  @media (max-width: 480px) {
    padding-bottom: 3rem;
    padding-top: 1.4rem;
    background: $purple;
  }

  &__title {
    font-family: $primeFont;
    font-weight: bold;
    font-size: 4.8rem;
    text-align: center;
    color: $white;

    @media (max-width:992px) {
      font-size: 4.2rem;
    }

    @media (max-width:480px) {
      font-size: 2.8rem;
    }
  }
}

.card {
  margin-top: 6.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.25fr 1fr;
  grid-column-gap: 1.5rem;
  justify-content: center;
  @media (max-width:992px) {
    max-width: 60rem;
    grid-row-gap: 3rem;
    margin: 3.9rem auto 0;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width:480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 47.5rem;
   background-color: rgba(255,255,255, 0.1);
    @media (max-width:992px) {
      max-width: 27.5rem;
    }
    @media (max-width:480px) {
      width: 27.5rem;
    }
  }
  &__title{
    padding: 3.6rem 0;
    font-size: 2.4rem;
    @include uppercase-center-text;
    color: $white;
    background-color: rgba(255,255,255, 0.06);
  }

  &__prise {
    font-weight: bold;
    font-size: 6rem;
    @include uppercase-center-text;
    color:$white;
    &:after {
      border: 0.1rem solid $lavender-purple;
      content: "";
      display: block;
      margin: 4.6rem auto 0 auto;
      width: 6rem;
    }
    &:before {
      content: "\0024";
      font-weight: normal;
    }
  }

  &__period{
    display: block;
    font-size: 1.4rem;
    @include uppercase-center-text;
    color: $white;
    margin-top: 3.8rem;

  }

  &__disc {
    padding: 0 1.5rem ;
    font-size: 1.6rem;
    text-align: center;
    color: $white;
  }

  &__buy {
    font-size: 1.6rem;
    @include uppercase-center-text;
    color: $white;
    padding: 1.8rem 4.6rem;
    text-decoration: none;
    background-color: rgba(255,255,255, 0.1);
    display: inline-block;
    border-radius: 3rem;
    margin-bottom:3.9rem;
    margin-right: auto;
    margin-left: auto;
  }

}

.active{
  height: 54rem;
  background-color: rgba(70, 48, 72, 0.7);
  @media (max-width:992px) {
    max-width: 30rem;
  }
  @media (max-width:480px) {
    width: 30rem;
  }
  &__prise{
    font-size: 8.2rem;
  }
}