* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

.container {
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}