$baltic-sea: #27262A;
$lavender-purple: #8D81AC;
$white: #FFFFFF;
$mine-shaft: #323232;
$oslo-gray: #848E97;
$mountain-mist: #A291A5;
$white: #FFFFFF;
$cardHeader: #695b6a;
$cardBody: #5f5161;
$cardBtn: #776b79;
$cardPrimeHeader: #3f2c41;
$cardPrimeBody: #473249;
$cardPrimeBtn: #635164;
$title-revol: #635C73;
$bg-color-grey: #F4F4F4;
$bg-color-prise: #463048;
$border-active: .1rem solid rgba(27, 31, 35, .15);
$salt-box: #645766;
$purple: #4b3b4e;



// Typography
$primeFont: "Montserrat",
sans-serif;
$secondFont: "Lato",
sans-serif;