.get{
  //overflow-x: hidden;
  background-color: $bg-color-grey;
  padding-top: 10rem;
  padding-bottom: 3.3rem;
  padding-left: 9rem;
  &__wrab-header{

    //display: flex;
    //flex-direction: column;
    @media (max-width:1130px) {
      width: 100%;
     display: flex;
      justify-content: flex-end;
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    @media (max-width:1130px) {
      flex-wrap: wrap;
    }
  }
  &__title{
    font-weight: bold;
    font-size: 4.8rem;
    color: $lavender-purple;
    &--left{
      @media (max-width:1130px) {
        display: none;
      }
    }
    &--top{
      display: none;
      @media (max-width:1130px) {
        display: block;
      }
    }
  }
  &__img{
    width: 70rem;
  }
  &__content-wrap{
    display: grid;
    flex-direction: column;

  }
  &__content-item{
    display: grid;
    grid-template-columns: 11.5rem 1fr;
    grid-column-gap: 2.4rem;
    //width: 52.5rem;
    margin-bottom: 3.4rem;

  }
  &__content-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content-img{
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  }
  &__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content-title{
    margin-bottom: 1.1rem;
    font-size: 1.6rem;
    color: $mine-shaft;
  }
  &__content-disc{
    font-size: 1.4rem;
    color:$oslo-gray;
  }
}