.get {
  background-color: $bg-color-grey;
  padding: 10rem 0 3.3rem 9rem;
  display: flex;
  justify-content: space-between;

  @media (max-width:992px) {
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
  }

  @media (max-width:480px) {
    padding-top: 0;
  }

  &__wrab-header {
    width: 50%;
    @media (max-width:992px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 4.8rem;
    color: $lavender-purple;
    font-family: $primeFont;

    &--left {
      @media (max-width:992px) {
        display: none;
      }
    }

    &--top {
      display: none;

      @media (max-width:992px) {
        margin-bottom: 5rem;
        display: block;
        font-size: 4.2rem;
      }

      @media (max-width:480px) {
        font-size: 3.2rem;
      }
    }
  }

  &__img {
    width: 100%;
  }
  &__img-wrap {
    display: flex;
    justify-content: flex-end;
  }

  &__content-wrap {
    width: 50%;
    display: grid;
    @media (max-width:992px) {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  &__content-item {
    display: grid;
    grid-template-columns: 11.5rem 1fr;
    grid-column-gap: 2.4rem;
    margin-bottom: 3.4rem;
    @media (max-width:480px) {
      @include item-center (align-items);
    }
  }

  &__content-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-img {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  }

  &__content-text {
    font-family: $primeFont;

    @include item-center (justify-content);

    @media (max-width:480px) {
      align-items: center;
    }
  }

  &__content-title {
    margin-bottom: 1.1rem;
    font-size: 1.6rem;
    color: $mine-shaft;


    @media (max-width:480px) {
      margin-top: 2.7rem;
    }
  }

  &__content-disc {
    font-size: 1.4rem;
    color: $oslo-gray;

    @media (max-width:480px) {
      text-align: center;
    }
  }
}