<section class="about">
  <h2 class="section-title">People Are Talking About Fork</h2>
  <div class="container">
    <div class="testimonials">
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo1.png" alt="logo1" />
        </div>
        <p class="testimonials__item-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna
          et pulvinar venenatis.
        </p>
      </div>
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo2.png" alt="logo2" />
        </div>
        <p class="testimonials__item-text">
          Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend
          nibh.
        </p>
      </div>
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo3.png" alt="logo3" />
        </div>
        <p class="testimonials__item-text">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus
          auctor felis ac vehicula.
        </p>
      </div>
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo4.png" alt="logo3" />
        </div>
        <p class="testimonials__item-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna
          et pulvinar venenatis.
        </p>
      </div>
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo5.png" alt="logo4" />
        </div>
        <p class="testimonials__item-text">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat
          faucibus.
        </p>
      </div>
      <div class="testimonials__item">
        <div class="testimonials__item-logo">
          <img src="assets/icons/logo6.png" alt="logo6" />
        </div>
        <p class="testimonials__item-text">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et
          vestibulum.
        </p>
      </div>
    </div>
    <div class="about__description">
      <p class="about__description-text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
        vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      <hr class="about__description-line">
    </div>
  </div>
</section>