<section class="about">
  <h2 class="section-title">People Are Talking About Fork</h2>
  <div class="container">
    <div class="testimonials">
      <div class="testimonials__item">
        <img scr="/assets/icons/logo1.png" class="testimonials__item-logo" />
        <p class="testimonials__item-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna
          et pulvinar venenatis.
        </p>
      </div>
      <div class="testimonials__item">
        <img scr="/assets/icons/logo2.png" class="testimonials__item-logo" />
        <p class="testimonials__item-text">
          Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend
          nibh.
        </p>
      </div>
      <div class="testimonials__item">
        <img src="/assets/icons/logo3.png" class="testimonials__item-logo" />
        <p class="testimonials__item-text">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus
          auctor felis ac vehicula.
        </p>
      </div>
      <div class="testimonials__item">
        <img scr="/assets/icons/logo4.png" class="testimonials__item-logo" />
        <p class="testimonials__item-text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna
          et pulvinar venenatis.
        </p>
      </div>
      <div class="testimonials__item">
        <img scr="/assets/icons/logo5.png" class="testimonials__item-logo" />
        <p class="testimonials__item-text">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat
          faucibus.
        </p>
      </div>
      <div class="testimonials__item">
        <img src="/assets/icons/logo6.png" class="testimonials__item-logo" alt="">
        <p class="testimonials__item-text">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et
          vestibulum.
        </p>
      </div>
    </div>
  </div>
</section>