<section class="price">
    <div class="container">
        <p class="price__title">Fork Subscription Pricing</p>
        <div class="price__card card">
            <div class="card__item">
                <h3 class="card__title">Students</h3>
                <p class="card__prise">29<span class="card__period">per month</span></p>
                <p class="card__disc">Personal License</p>
                <a href="#" class="card__buy">purchase</a>
            </div>
            <div class="card__item">
                <h3 class="card__title">professional</h3>
                <p class="card__prise">59<span class="card__period">per month</span></p>
                <p class="card__disc">Professional License Email Support</p>
                <a href="#" class="card__buy">purchase</a>
            </div>
            <div class="card__item active">
                <h3 class="card__title active__title">agency</h3>
                <p class="card__prise active__prise">99<span class="card__period active__period">per month</span></p>
                <p class="card__disc active__disc">1-12 Team Members Phone Support</p>
                <a href="#" class="card__buy active__buy ">purchase</a>
            </div>
            <div class="card__item">
                <h3 class="card__title">enterprise</h3>
                <p class="card__prise">159<span class="card__period">per month</span></p>
                <p class="card__disc">Unlimited Team Members 24/ 7 Phone Support</p>
                <a href="#" class="card__buy">purchase</a>

            </div>
        </div>
    </div>
</section>