<section class="get">
        <h2 class="get__title get__title--top">&lt;Here is what you get&gt;</h2>
        <div class="get__content-wrap">
            <article class="get__content-item">
                <div class="get__content-img-wrap">
                    <img src="assets/img/get-icon1.png" alt="" class="get__content-img">
                </div>
                <div class="get__content-text">
                    <h3 class="get__content-title">Incredibly Powerful Tool</h3>
                    <p class="get__content-disc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.   </p>
                </div>
            </article>
            <article class="get__content-item">
                <div class="get__content-img-wrap">
                    <img src="assets/img/get-icon2.png" alt="" class="get__content-img">
                </div>
                <div class="get__content-text">
                    <h3 class="get__content-title">Incredibly Powerful Tool</h3>
                    <p class="get__content-disc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.   </p>
                </div>

            </article>
            <article class="get__content-item">
                <div class="get__content-img-wrap">
                    <img src="assets/img/get-icon3.png" alt="" class="get__content-img">
                </div>
                <div class="get__content-text">
                    <h3 class="get__content-title">Incredibly Powerful Tool</h3>
                    <p class="get__content-disc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.   </p>
                </div>
            </article>
            <article class="get__content-item">
                <div class="get__content-img-wrap">
                    <img src="assets/img/get-icon4.png" alt="" class="get__content-img">
                </div>
                <div class="get__content-text">
                    <h3 class="get__content-title">Incredibly Powerful Tool</h3>
                    <p class="get__content-disc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.   </p>
                </div>
            </article>
        </div>
        <div class="get__wrab-header">
            <h2 class="get__title get__title--left">&lt;Here is what you get&gt;</h2>
            <picture class="get__img-wrap">
                <source media="(min-width: 480px)" srcset="assets/img/editor%201.png">
                <source media="(max-width: 481px)" srcset="assets/img/editor-mobile.png">
                <img src="assets/img/editor%201.png" class="get__img">
            </picture>
        </div>
</section>